@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
html, body {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;

}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 3%;
    background-color: rgb(0, 18, 24);
}
a, li, button{
    font-size: 16px;
    color: white;
    text-decoration: none;
}
header h1{
    margin-right: auto;

}
.links {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 10px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    transition: all 0.3s ease 0s;
    color: red;
}

header button {
    cursor: pointer;
    padding: 9px 25px;
    margin: 0px 10px;
    background-color: rgba(255, 0, 0, 1);
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

header h1{
    cursor: pointer;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px 20px;
    border-color: white;
    
}

.banner {
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    background: linear-gradient(rgba(0, 18, 24, 0.7),rgba(0, 18, 24, 0.9)), url(/images/banner_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.banner_info h1 {
    font-size: 6.750em;
    color: white;
}

.banner_info h2 {
    font-size: 3.575em;
    font-weight: 400;
    color: white;
    margin-bottom: 50px;
}

.banner_arrow a {
    transition: all 0.3s ease 0s;
    text-align: center;
    font-size: 3.575em;
    font-weight: 400;
    color: white;
}

.banner_arrow a:hover {
    font-size: 4.575em;
    transition: all 0.3s ease 0s;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
}